.leaflet-container {
  width: 100%;
  height: 100vh;
}

.popup-text {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

/* customising the popup's container, background colour */
.leaflet-popup-content-wrapper {
  background-color: black !important;
}
