.atlas {
  background-color: #1b1b1b;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
}

.popup-text {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

/* customising the popup's container, background colour */
.leaflet-popup-content-wrapper {
  background-color: black !important;
}

/* class for the marker, give it a background colour
clip it into a circle centered on the guns
animate full brightness to low brightness
low brightness to full brightness */
.recent {
  background-color: white;
  /* border-radius: 90%; */
  clip-path: circle(40% at 27px 27px);
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes heartbeat {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.3);
  }
}
