.background-container{
    background-color: #1b1b1b;
    min-height: calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.background-container h1{
    text-align: center;
}

.carousel{

    margin-top: 5%;
    display:flex;
    height: fit-content;
}

.background-content{
    width: 50vw;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    letter-spacing: 3px;
}

.background-content h2{
    font-weight: b;
}

/* MEDIA QUERIES - mobile  */
@media screen and (max-width: 500px) {

    .background-content {
      width: 95vw;
    }

    .background-content h2{
        font-size: 1rem;
    }
  
  }