/* font for the battle content */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.battle-container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: space-between;
  /* justify-content: space-around; */
  background-image: url("../smoke1.jpeg");
  background-size: cover;
  color: white;
}

/* add medieval font?? */

.battle-container h1{
  font-family: "MedievalSharp", cursive;

}

.army {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* div container of each beligerent div */
.beligerents {
  display: flex;
  gap: 15px;

}


/* div container of beligerent name and pic */
.beligerent {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* img element */
.beligerent-flag {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

/* COMMANDERS */
.commanders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* div container of commander name and pic */
.commander {
  display: flex;
  align-items: center;
}

/* img element */
.commander-flag {
  object-fit: contain;
  width: 25px;
  height: 25px;
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* div of main battle <img> */
.battle-img{
  width: 50%
}

/* <img> of main battle */
.battle-pic{
  width: 100%;
}

/* div containing prelude and description divs of header and paragraph */
.battle-detail{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 70%;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0,0.3),rgba(128, 128, 128,0.4));
}

.battle-detail p, .battle-detail h2{
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}

.prelude,.description{
  margin-top: 20px;
  text-align: justify;
  overflow-y:scroll;
  height: 220px;

}

/* CODE FOR EDITING SCROLLBARS */

.prelude::-webkit-scrollbar,.description::-webkit-scrollbar {
  /* Width of vertical scroll bar */
 width: 13px;
}
::-webkit-scrollbar-thumb {
 border-radius: 8px;
 background: #c2c9d2;
}
