.commander-detail-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: calc(100% - 100px);
    width: 100%;
    /* background-image: url("../smoke1.jpeg"); */
    /* background-position: cover; */
    background-color: #1b1b1b;
    color: white;
    justify-items: space-around;
    align-content: center;
}


/* div of name, portrait and flag img  */
.commander-pic-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <img> of commander portrait */
.commander-portrait{
    height: 60vh;
    object-fit: contain;
}



/* commander's loyalty flag <img> */
.flag-small{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* div of commander facts */
.commander-details{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.commander-details h2{
    border: 1px solid white;
    border-top: none;
    border-right: none;
    width: fit-content;
    color: white;
    box-shadow: 0px 2px 1px 0px #1b1b1b;
}

/* div of commander bio */
.commander-bio{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: justify;
    margin-right: 10px;
}



.commander-header{
    color: white;
}

/* MEDIA QUERY */

@media  screen and (max-width: 1350px) {

    .commander-detail-container{
        grid-template-columns: none;
        grid-template-areas: 
        "pic"
        "details"
        "bio";
        justify-items: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .commander-pic-title{
        width: 60vw;
        margin: 0 auto;
        grid-area: pic;

    }

    .commander-portrait{
        height: 50vw;
        object-fit: contain;
      
    }

    .commander-details{
        width: 60vw;
        margin: 0 auto;
        border: 1px solid white;
        border-radius: 7px;
        margin-top: 20px;
        grid-area: details;

    }

    .commander-bio{
        width: 60vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: justify;
        grid-area: bio;

    }

    .commander-details h2{
        border: none;
        box-shadow: none;

    }


    
}