.commanders-container {
  width: 100%;
  /* height: 100%; */
  min-height: calc(100vh - 100px);
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.commanders-header {
  color: white;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

/* OVERWRITING STYLING OF CAROUEL BUTTONS AND ICON */

/* react-elastic carousel class for the next and prev buttons */
.eWjCzc {
  background-color: #121212 !important;
}

.jhmYzC {
  box-shadow: 0 0 1px 3px white !important;
}

.jhmYzC:focus {
  box-shadow: 0 0 1px 3px white !important;
}

/* react-elastic carousel button inner*/
.krmNah {
  background-color: silver !important;
  box-shadow: 0 0 1px 3px white !important;
}

/* MEDIA QUERIES - mobile  */
@media screen and (max-width: 500px) {

  .commanders-header {
    text-align:center;
  }

 
  
}
