.commander-detail-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100%;
    width: 100%;
    /* background-image: url("../smoke1.jpeg"); */
    /* background-position: cover; */
    background-color: #1b1b1b;
    color: white;
    justify-items: space-around;
    align-content: center;
}


/* div of name, portrait and flag img  */
.commander-pic-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <img> of commander portrait */
.commander-portrait{
    height: 60vh;
    object-fit: contain;
}



/* commander's loyalty flag <img> */
.flag-small{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.commander-details{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.commander-bio{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    letter-spacing: 3px;
    font-weight: bold;
}



.commander-header{
    color: white;
}

