.login-container {
  background-color: #1b1b1b;
  min-height: calc(100% - 100px);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login-form {
  background-color: #2b2a2a;
  border-radius: 8px;
  display: flex;
  width: 30vw;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form input {
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  padding: 5px;
  border-radius: 2px;
  color: white;
  /* box-shadow: 0px 1px 1px 0px black; */
}

.login-form button {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 4px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px 2px white;
}

/* media queries */

@media screen and (max-width: 1440px) {
  .login-form {
    width: 40vw;
    height: 50vh;
  }

  .login-form input {
    font-size: medium;
  }
}

/* MEDIA QUERIES - mobile  */
@media screen and (max-width: 500px) {

  .login-form {
   
    width: 80vw;
    height: 60vh;
   
  }

}