.home-footer{
    height: 110px;
    width: 100%;
    background-color: #2b2a2a;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.home-footer a{
    color: white;
    text-decoration: none;
}

.home-footer .internal{
    display: flex;
    flex-direction: column;
}

.home-footer div{
    width: 100%;
}

.footer-logo{
    width: 180px;
}

.social{
    display:flex;
    gap:5px;
}

.social svg{
    font-size: xx-large;
}