nav {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  height: 100px;
  /* background-color: rgb(33,33,33);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5); */
  /* background-color: #212121; */
   background-color: #2b2a2a;
  box-shadow: 0 3px 5px 10px rgb(0 0 0 / 50%);
 
}

nav button{
  background-color: #2b2a2a;
  border: 1px solid white;
  border-radius: 4px;
  padding: 3px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-logo{
  width: 220px;
  margin-right: auto;
  object-fit: contain;
}


ul.links {
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 15px;
  display: flex;
  list-style-type: none;
  padding-right: 5px;
  background-color: inherit;
}

ul.links a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/* li.brand {
  margin-right: auto;
  color: white;
  font-size: 2rem;
} */

nav svg{
  font-size:2rem;
  transition: rotate 1s ease-in-out;
}

.globe:hover{
  rotate: 360deg;
}


/* -------------------collapsible navbar code-------------- */

/* div containing menu icons  */
.nav-toggler{
  display: none;
  margin-left: 2rem;
}

.menu-icon{
  margin-top: 10px;
  font-size: 3rem;
  text-decoration:none;
  color: white;
}

/* ul with links & links-active class */
.links.links-active{
  top: 0%;
}


@media screen and (max-width:768px) {
  /* normally hidden div - contains menu icons */
  .nav-toggler{
    display:block;
    position:absolute;
    left:3%;
    z-index: 4000000;
    /* makes div visible, and the icons inside.
    is fixed on screen, 3% from the left of viewport */
  }
  /* <ul> of navigation list items */
  ul.links{
    position: absolute;
    top:-100%;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    transition: 200ms ease-in-out;
    background-color: #2b2a2a;
    backdrop-filter: blur(5px);
    z-index: 4000000;
    /* high Z index needed to show over everything, had 4000 previously
    but leaflet map was higher, had to do a large number to override leaflet map */
  }

  .nav-logo{
    margin-right:0;
  }
}