.spinner-container{
    width:30%;
    left:50%;
    top:30%;
    transform:translate(-50%,-50%);
    position: absolute;
}

/* .spinner{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 30%;
    background-color:transparent;
    border: 5px solid white;
    border-top: 5px solid black;
    border-radius: 50%;
    z-index: 1000;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
 */

/* @keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
} */

/* swords */

.sword-1 svg,.sword-2 svg,.sword-3 svg{
    position: absolute;
    opacity:0;
    color: white;
    background-color:transparent;
    z-index: 1000;
    animation-name: sword;
    animation-timing-function: ease-in-out;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    transition: opacity 200ms ease-in-out;
}

.sword svg{
    width: 100px;
    height: 100px;
}

.sword-1 svg{
    left: 35%;
    top: 30%;
    animation-delay: 0.8s;
}

.sword-2 svg{
    left: 35%;
    top:30%;
    animation-delay: 0.4s;
}

.sword-3 svg{
    left: 35%;
    top: 30%;
    animation-delay: -0.1s;
    color: black;
}

@keyframes sword{
    0% {
        transform: translateX(0px);
        opacity:0;
    }

    25%{
        opacity: 0.25'
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.75'
    }

    100%{
        transform: translateX(150px);
        opacity:0;
    }
}